*{

margin:0;
padding:0;

box-sizing:border-box;

}



body{

background:#020202;

color:white;

font-family:Arial, sans-serif;

height:100vh;

overflow:hidden;

}




/* DARK MUSEUM WALL */

body::before{

content:"";

position:fixed;

inset:0;

background:

radial-gradient(
ellipse at center,
rgba(255,255,255,.035),
transparent 60%
);

pointer-events:none;

z-index:0;

}




body::after{

content:"";

position:fixed;

left:0;
right:0;
bottom:0;

height:35%;

background:

linear-gradient(
transparent,
rgba(0,0,0,.8)
);

pointer-events:none;

z-index:0;

}





/* BACK */

.back-btn{

position:fixed;

top:30px;

left:40px;

color:white;

text-decoration:none;

font-size:13px;

letter-spacing:4px;

opacity:.45;

transition:.4s;

z-index:5;

}



.back-btn:hover{

opacity:1;

}





/* ROOM */


.gallery-room{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

position:relative;

z-index:1;

}





.gallery-space{

width:80vw;

height:80vh;

position:relative;

display:flex;

justify-content:center;

align-items:center;

}







/* LIGHT ABOVE ART */


.wall-light{

position:absolute;

top:0;

left:50%;

transform:translateX(-50%);

width:500px;

height:300px;

background:

radial-gradient(
ellipse,
rgba(255,255,255,.06),
transparent 70%
);

filter:blur(30px);

pointer-events:none;

}







/* EMPTY ART WALL */


.art-placeholder{

width:min(65vw,900px);

height:min(55vh,600px);

background:

rgba(255,255,255,.008);

border:

1px solid rgba(255,255,255,.06);

box-shadow:

0 30px 100px rgba(0,0,0,.9);

transition:.8s;

}





.art-placeholder:hover{

transform:scale(1.015);

border-color:

rgba(255,255,255,.15);

}







/* MINIMAL LABEL */


.gallery-info{

position:absolute;

bottom:30px;

text-align:center;

width:100%;

opacity:.65;

}



.gallery-info h1{

font-size:20px;

font-weight:300;

letter-spacing:12px;

}



.gallery-info p{

margin-top:15px;

font-size:10px;

letter-spacing:6px;

opacity:.4;

}







/* MOBILE */


@media(max-width:600px){


.back-btn{

top:20px;

left:20px;

}



.gallery-space{

width:90vw;

height:75vh;

}



.art-placeholder{

width:85vw;

height:45vh;

}



.gallery-info h1{

font-size:15px;

letter-spacing:8px;

}


}
