*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

background:#020202;

color:white;

font-family:Arial, sans-serif;

height:100vh;

overflow:hidden;

}



/* dark museum wall */

body::before{

content:"";

position:fixed;

inset:0;

background:

radial-gradient(
ellipse at center,
rgba(255,255,255,.035),
transparent 55%
);

}



/* BACK */

.back-btn{

position:fixed;

top:30px;

left:40px;

color:white;

text-decoration:none;

font-size:14px;

letter-spacing:3px;

opacity:.45;

transition:.4s;

}


.back-btn:hover{

opacity:1;

}




/* ROOM */


.gallery{

height:100vh;

display:flex;

align-items:center;

justify-content:center;

}



.museum-room{

text-align:center;

}





/* EMPTY ART SPACE */


.empty-frame{

width:min(70vw,800px);

height:min(55vh,500px);

border:1px solid rgba(255,255,255,.08);

background:

linear-gradient(
135deg,
rgba(255,255,255,.015),
transparent
);

box-shadow:

0 0 80px rgba(0,0,0,.8);

transition:.6s;

}



.empty-frame:hover{

transform:scale(1.02);

border-color:

rgba(255,255,255,.25);

}





h1{

margin-top:45px;

font-size:22px;

font-weight:300;

letter-spacing:12px;

opacity:.8;

}



p{

margin-top:15px;

font-size:10px;

letter-spacing:6px;

opacity:.3;

}
